
html, body {
    padding: 0px;
    margin: 0px;
    font-size: 100%;
    background-color: #e4e4e4;
}
body {
    font-size: 18px;
    line-height: 1;
    font-family: 'Arial', sans-serif;
}
h1, h2, h3, h4 {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
    font-weight: normal;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
p {
    margin: 0px;
    padding: 0px;
}

.button {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* ---------------table */
td {
    white-space: nowrap;
    padding-right: 1em;
    padding-left: 0.5em;
    border: 1px solid;
    text-align: right;
}

table {
    border-collapse: collapse;
    width: 100%;
    font-size: 120%;
}
th {
    border: 1px solid;
    border-bottom: 2px solid;
}
.footer td {
    font-weight: bold;
}
.colorTrSelected {
    background-color: rgb(178, 178, 178);
}


.buttonDisable {
    background: rgba(0, 0, 0, 0.37);
}

input[type=button]:active {
    background: rgba(0, 0, 0, 0.39);
}

.highlightOpacity {
    opacity: 0.3;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent; /* For some Androids */
}

.highlight {
    background-repeat: no-repeat;
    background-position: 20px 20px;
    background:rgb(255,255,255) !important;
    background: transparent\9 !important;
    background:rgba(0,0,0,0.5) !important;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4cFFFFFF,endColorstr=#4cFFFFFF);
}

.highlightOpacity {
    opacity: 0.5;
}

.textLeft {
    text-align: left;
}
/* --------- content info */
.special.info {
    position: absolute;
    right: 0px;
    top: 80px;
    bottom: 100px;
    left: 0px;
    background: rgba(128, 128, 128, 0.5);
    z-index: 1500;
}
.special.info h1{
    top: 50%;
    position: absolute;
    margin-top: -1em;
    width: 100%;
    text-align: center;
    color: #ffffff;
}
.symbolLoading {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    margin-top: -8em;
}
.symbolLoading i {
    font-size: 14em;
    color: rgb(145, 145, 145);
}
/* --------- content cover */
.special.cover {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: grey;
    z-index: 1500;
}

.main div.mainContent {
    position: absolute;
    width: 100%;
}

#verzeApp {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

/*=====================================================default end */
p.m {
    line-height: 1.5em;
    font-size: 1.2em;
    font-weight: normal;
}
p.l {
    line-height: 2em;
    font-size: 1.7em;
    font-weight: normal;
}
p.xx {
    font-size: 1.7em;
}

h1.s {
    font-size: 1em;
}
h1.m {
    font-size: 1.5em;
}
h1.l {
    font-size: 1.7em;
}
h1.x {
    font-size: 2em;
}
h1.xx {
    font-size: 2.5em;
}
h1.xxx {
    font-size: 3em;
}

.bold {
    font-weight: bold;
}
.textAlignCenter {
    text-align: center;
}

.backSeda {
    background-color: #585858;
}
.backgBlue {
    background-color: #00ccff;
}
.backgGrey {
    background-color: #b8b8b8;
}
.backWhite {
    background-color: white;
}
.tb {
    display: table;
    width: 100%;
    height: 100%;
}
.tbCell {
    display: table-cell;
    line-height: 0em;
    vertical-align: middle;
}
.buttonBlue {
    text-align: center;
    font-size: 2em;
    font-weight: normal;
    line-height: 2.2em;
    border: 0px;
    color: white;
}

select.standard {
    width: 100%;
    font-size: 1.5em;
    padding: 1em;
    margin-top: 1em;

}

h1.line2 { width:100%; text-align:center; border-bottom: 1px solid #000; line-height:0.1em; margin:10px 0 20px; }
h1.line2 span { background:#fff; padding:0 10px; }

h1.line {
    overflow: hidden;
    text-align: center;
}

h1.line:before,
h1.line:after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    vertical-align: super;
    width: 50%;
}
h1.line:before {
    right: 0.5em;
    margin-left: -50%;
}
h1.line:after {
    left: 0.5em;
    margin-right: -50%;
}

/*--------------------- top*/
.mainTop {
    position: fixed;
    width: 100%;
    z-index: 100;
}
.mainTop img {
    position: absolute;
    top: 1em;
    left: 1em;
    padding: 1em;
}
.mainTop h1{
    color: white;
    text-align: center;
    line-height: 2.9em;
    font-size: 2em;
}



/*--------------------- content*/

/*------ global*/
div.mainContent {
    margin-top: 5.8em;
}

.mainContent .boxGeneral {
    margin: 0 5%;
    text-align: center;
    width: 90%;
}
.mainContent .boxGeneral input {
    padding: 0px;
    width: 100%;
    text-align: center;
    font-size: 2em;
    font-weight: normal;
    line-height: 2em;
    margin: 0 0 0.8em 0;
    border: 0px;
}
.mainContent .boxGeneral input.last {
    margin: 0px;
}
/*------ other*/
div.mainContent.index {

}
.mainContent.index img {
    width: 100%;
}

.mainContent.index .box h1
{
    color: #383838;
    text-align: center;
    font-weight: normal;
    font-size: 1.7em;
    line-height: 3em;
}
.mainContent.index p
{
    background-color: white;
    padding: 1em;
    text-align: center;
    margin: 0px;
}
.mainContent.index h1.mensi {
    font-size: 1em;
    line-height: 4em;
}
.mainContent.index .footer
{
    font-size: 1em;
    text-align: center;
    color: #848484;
    line-height: 4em;
}

.mainContent.prihlaseni {
    text-align: center;
}
.mainContent.prihlaseni img {
    padding: 14%;
}

.mainContent.prihlaseni .button {
    text-align: center;
    font-size: 2em;
    font-weight: normal;
    line-height: 2.2em;
    margin: 0.8em 5% 0.8em 5%;
    border: 0px;
    color: white;
}

.mainContent.prihlaseni h1 {
    font-size: 2em;
    margin-top: 1em;
}
.mainContent.prihlaseni h2 {
    font-size: 1.8em;
    margin-top: 0.5em;
    text-decoration: underline;
}

.mainContent.registrace {
    text-align: center;
}
.mainContent.registrace img {
    margin: 2em;
}
.mainContent.registrace .box {
    margin: 0 5%;
}

.mainContent.registrace .button {
    text-align: center;
    font-size: 2em;
    font-weight: normal;
    line-height: 2.2em;
    margin: 0.8em 0px 0.8em 0px;
    border: 0px;
    color: white;
}
.mainContent.registrace p {
    font-size: 1.5em;
}

.mainContent.kalkulace .boxGeneral:first-child {
    margin-top: 2em;
}
.mainContent.kalkulace .m {
    margin: 0.5em;
}
.mainContent.kalkulace h1 {
    line-height: 4em;
}
.mainContent.kalkulace .boxGeneral h1.checkBoxLb {
    display: inline-block;
    vertical-align: middle;
    margin-left: 1em;
    font-size: 1.2em;
}
.mainContent.kalkulace .buttonBlue {
    margin-bottom: 1em;
}

.mainContent.nahravam h1 {
    line-height: 3em;
    margin-top: -1em;
}
.mainContent.nahravam p {
    line-height: 1.5em;
}

.mainContent.nabidky .nabidkaItem
{
    background-color: white;
    margin-top: 2em;
    text-align: left;
    position: relative;
}
.mainContent.nabidky .nabidkaItem > div {
    display: inline-block;
    vertical-align: middle;
}
.nabidkaItem .obr {
    width: 30%;
    text-align: center;
}
.nabidkaItem .popis {
    width: 50%;
    text-align: left;
}
.nabidkaItem .popis p {
    font-size: 1.5em;
    margin: 0.5em;
}
.nabidkaItem .popis h1 {
    font-size: 2.5em;
    font-weight: bold;
    margin: 0.5em;
}
.nabidkaItem .button {
    width: 20%;
    position: absolute;
    height: 100%;
    text-align: center;
    background-color: #00ccff;
    color: #ffffff;
    font-size: 1.5em;
}
.nabidkaItem .button img {
    margin-top: 1.7em;
    margin-bottom: 0.2em;
}


.mainContent.podrobnosti .boxGeneral {
    text-align: center;
    margin-top: 2em;
}
.mainContent.podrobnosti .boxGeneral .box {
    padding: 5%;
    background-color: #ffffff;
}
.mainContent.podrobnosti .boxGeneral img {
    width: 50%;
}
.mainContent.podrobnosti .boxGeneral h1 {
    font-size: 3em;
}
.mainContent.podrobnosti .boxGeneral h2 {
    font-size: 1em;
    line-height: 2.5em;
    margin-bottom: 1em;
}
.mainContent.podrobnosti h3 {
    font-weight: bold;
}
.mainContent.podrobnosti .par h3, .mainContent.podrobnosti .par h4 {
    display: inline-block;
    width: 50%;
    text-align: left;
    font-size: 1.2em;
    line-height: 1.5em;
    vertical-align: top;
}
.mainContent.podrobnosti .par .single {
    width: 100%;
}
.mainContent.podrobnosti .list h4:nth-child(even) {
    text-indent: 1em;
}
.mainContent.podrobnosti .par .left {
    display: inline-block;
    width: 50%
}
.mainContent.podrobnosti .par .left h4 {
    width: 100%
}

.mainContent.podrobnosti .buttonBlue {
    margin-top: 2em;
    margin: 0.8em 0px 0.8em 0px;
}
.mainContent.podrobnosti p {
    font-size: 1.5em;
    padding: 0 2em;
}

.mainContent.doplnkove .boxGeneral h1 {
    line-height: 4em;
}
.mainContent.doplnkove .boxGeneral {
    text-align: left;
}
.mainContent.doplnkove h2 {
    display: inline-block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.3em;
}
.mainContent.doplnkove span {
    font-size: 2em;
}
.mainContent.doplnkove h3 {
    text-align: center;
    font-size: 1.2em;
    margin-top: 3em;
}

.mainContent.kalkulace .boxDoplnek {
    position: relative;
    text-align: left;
    margin-bottom: 2em;
}
.mainContent.kalkulace .boxDoplnek > div {
    display: inline-block;
    vertical-align: top;
    text-align: center;
}
.mainContent.kalkulace .boxDoplnek .popis {
    width: 60%;
    text-align: left;
}
.mainContent.kalkulace .boxDoplnek .ne, .mainContent.kalkulace .boxDoplnek .ano {
    position: absolute;
    width: 20%;
    height: 100%;
    color: #ffffff;
}
.mainContent.kalkulace .boxDoplnek .popis .tb {
    padding: 2em 0.5em;
}
.mainContent.kalkulace .boxDoplnek .popis h1 {
    line-height: 1em;
}
.mainContent.kalkulace .boxDoplnek .ne h1, .mainContent.kalkulace .boxDoplnek .ano h1 {
    line-height: 0em;
}
.mainContent.kalkulace .boxDoplnek .ano {
    margin-left: 20%;
}
.mainContent.kalkulace .vlastnik, .mainContent.kalkulace .provozovatel,  .mainContent.kalkulace .korespondent {
    display: none;
}

.mainContent.kalkulace h1.line.l {
    line-height: 2em;
}
.mainContent.kalkulace select {
    margin-bottom: 1em;
}

.mainContent.rekapitulace .progressBoxModifi {
    text-align: center;
    margin-top: 2em;
}
.mainContent.rekapitulace h1.progressText {
    line-height: 1em;
    margin: 0.5em;
    margin-bottom: 1.5em;
}
.mainContent.rekapitulace .buttonBlue {
    margin-bottom: 1em;
}


.mainContent.dekujeme img:first-child {
    margin-top: 3em;
    margin-bottom: 3em;
}

.mainContent.dekujeme h1.l {
    line-height: 2.5;
    margin-bottom: 1em;
}
.mainContent.dekujeme img:last-child {
    margin-top: 1.5em;
}

.mainContent.kalkulace h1.progressText {
    vertical-align: middle;
    line-height: 1em;
    margin-bottom: 1.5em;
}

.circleProgress
{
    display: inline-block;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin: 5px;
}



.roundedOne {
    display: inline-block;
}
.roundedOne input[type="checkbox"] {
    display:none;
}
.roundedOne input[type="checkbox"] + label {
    display: inline-block;
    vertical-align: middle;
    width: 32px;
    height: 32px;
    border: 2px solid;
    margin: 20px auto;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    position: relative;
}
.roundedOne input[type="checkbox"]:checked + label {
    display: inline-block;
    vertical-align: middle;
    width: 32px;
    height: 32px;
    border: 2px solid #00fb42;
    background: #00fb42;
    /* border: 2px solid; */
    margin: 20px auto;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    position: relative;
}















.spinner{
    width:7em;
    margin:3em auto;
    text-align: left;
    font-size: 200%;
}
.spinner div{
    width:7em;
    height:1em;
    margin:3em auto;
    padding:3em 0;
    position:relative;
    border-radius:50%;
    border:2px solid #2f416f;
    border-top:2px solid transparent;
    border-bottom:2px solid transparent;
    -webkit-animation:rotate 1s ease infinite;
    -moz-animation:rotate 1s ease infinite;
    -o-animation:rotate 1s ease infinite;
    animation:rotate 1s ease infinite;
}
.spinner:before{
    content:"Pracuji";
    position:absolute;
    color:#2f416f;
    font:.9em sans-serif;
    width:8em;
    line-height:8em;
    text-align:center;
    -webkit-animation:wink 1.4s ease infinite;
}
@-webkit-keyframes rotate {
    0%{-webkit-transform:rotate(360deg)}
}
@-moz-keyframes rotate {
    0%{-moz-transform:rotate(360deg)}
}
@-o-keyframes rotate {
    0%{-o-transform:rotate(360deg)}
}
@keyframes rotate {
    0%{transform:rotate(360deg)}
}
@-webkit-keyframes wink{50%{opacity:0}}
@-moz-keyframes wink{50%{opacity:0}}
@-o-keyframes wink{50%{opacity:0}}
@keyframes wink{50%{opacity:0}}







@media only screen and (min-width: 0px)  and (max-width: 320px) {
    body {
        font-size: 8px;
    }
    img {
        width: 6em;
    }

    p.m {
        font-size: 1.5em;
    }


    .mainTop img {
        width: 3em;
    }
    .mainContent.prihlaseni img, .mainContent.registrace img {
        width: 8em;
    }
    .mainContent .boxGeneral input {
        line-height: 2.5em;
    }
    .mainContent .buttonBlue {
        line-height: 2.5em;
    }
    .nabidkaItem .button img {
        width: 2em;
    }
    .dekujeme .boxGeneral img:first-child {
        width: 16em;
    }


}